.detail-con {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 30px;

  .detail-box {
    display: flex;
    width: 1200px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    > div {
      width: 50%;
      height: 100%;
    }

    .detail-img {
      position: relative;
      display: flex;
      justify-content: center;
      background-color: white;

      button {
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        background-color: white;
        opacity: 90%;
        border-radius: 50%;
        padding: 8px;
        transition: 0.2s;
      }
      button:hover {
        background-color: gainsboro;
      }
      .prev-button {
        left: 0;
        margin-left: 10px;
      }
      .next-button {
        right: 0;
        margin-right: 10px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .detail-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: aquamarine;

      .detail-desc-top {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 50px;

        > div {
          display: flex;
          align-items: center;
        }
        .detail-like,
        .detail-save {
          span {
            display: flex;
            padding: 10px;

            svg {
              cursor: pointer;
            }

            p {
              padding-left: 10px;
            }
          }
        }

        .post-user-button {
          display: flex;
          font-size: 1.3rem;

          color: #bbb;

          .edit {
            :hover {
              color: rgba(0, 0, 0, 0.849);
            }
          }

          .del {
            margin-left: 10px;
            margin-top: 3.5px;
            :hover {
              color: rgba(221, 19, 19, 0.815);
            }
          }

          span {
            display: flex;

            input {
              font-size: 0.8rem;
              margin-right: 20px;
            }

            svg {
              cursor: pointer;
              font-size: 1.5rem;
            }
            svg:hover {
              color: red;
            }
          }
        }
      }

      .detail-desc-mid {
        width: 90%;
        height: 420px;

        .detail-post-date {
          display: flex;
          justify-content: flex-end;
          font-size: 0.8rem;
          color: grey;
        }

        .detail-post-tag {
          margin: 5px;
          padding: 5px;
          p {
            color: #3b82f6;
            font-size: 0.9rem;
            span {
              padding: 3px;
            }
          }
        }

        .detail-post-info {
          height: 300px;
          overflow-y: auto;
          margin-bottom: 10px;

          .detail-post-desc {
            margin: 10px;
            padding: 5px;
            font-size: 0.9rem;
            p {
              line-height: 1.3rem;
            }
          }

          .detail-post-product {
            padding-top: 10px;
            padding-right: 15px;

            p {
              font-size: 0.8rem;
              padding: 0 10px 20px 10px;
              font-weight: bold;
              text-align: end;
            }

            table {
              width: 100%;
              thead {
                border-bottom: 1px solid gainsboro;
                th {
                  padding-bottom: 5px;
                  font-size: 0.9rem;
                  font-weight: 550;
                  width: 25%;
                }
              }
              tbody {
                td {
                  padding: 10px;
                  text-align: center;
                  vertical-align: middle;
                  font-size: 0.8rem;

                  a {
                    color: black;
                    display: flex;
                    justify-content: center;
                  }
                  a:hover {
                    color: #3b82f6;
                  }
                }
              }
            }
          }
        }
        .detail-post-user {
          display: flex;
          justify-content: space-between;
          padding: 5px 10px;
          background-color: #eee;
          border-radius: 10px;

          .post-user-desc {
            display: flex;

            .post-user-img {
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                cursor: pointer;
              }
            }

            .post-user-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px;

              .post-user-more {
                display: flex;
                font-size: 0.8rem;
                color: grey;
                padding-top: 8px;

                span {
                  padding-right: 5px;
                }
              }
            }
          }

          .post-user-follow {
            margin-top: 10px;
          }
        }
      }

      .detail-desc-bot {
        width: 90%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .comment-count {
          font-weight: 550;
          font-size: 0.8rem;
          margin: 10px;
          padding: 5px;
          height: 20px;
        }

        .comment-con {
          width: 100%;
          height: 130px;
          margin-bottom: 10px;
          overflow-y: auto;
          > p {
            color: #bbb;
            font-size: 0.9rem;
            text-align: center;
            vertical-align: center;
            margin-top: 20px;
          }

          .comment-contents {
            width: 100%;
            display: flex;
            padding: 5px;

            .comment-user-img {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-right: 8px;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .comment-info {
              width: 90%;
              height: 100%;
              display: flex;
              flex-direction: column;

              > div {
                display: flex;
                align-items: center;
              }

              .comment-info-top {
                display: flex;
                flex-wrap: wrap;
                padding-top: 3px;
                padding-bottom: 3px;
                .comment-user-nick {
                  font-weight: bold;
                  font-size: 0.9rem;
                }
                .comment-desc {
                  padding-left: 10px;
                  overflow-wrap: break-word; /* 줄바꿈 */
                  word-break: break-word; /* 단어자르기 */
                  flex: 1;
                }
              }
              .comment-info-bot {
                .comment-date {
                  color: darkgray;
                  font-size: 0.7rem;
                }
                .comment-button {
                  button {
                    padding-left: 5px;
                    font-size: 0.8rem;
                  }

                  CommentReportModal {
                    font-size: 0.8rem;
                  }
                }
              }
            }
          }
        }
      }

      .comment-add {
        width: 100%;
        height: 40px;

        div {
          position: relative;

          input {
            position: absolute;
            width: 100%;
            padding-right: 100px;
            border-radius: 10px;
            padding: 10px;
            font-size: 0.9rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }

          input:focus {
            outline: none;
          }

          button {
            position: absolute;
            z-index: 10;
            width: 80px;
            right: 0;
            border-radius: 10px;
            background-color: black;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: white;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.comment-con::-webkit-scrollbar,
.detail-post-info::-webkit-scrollbar {
  width: 5px;
}
.comment-con::-webkit-scrollbar-thumb,
.detail-post-info::-webkit-scrollbar-thumb {
  background-color: gray;
}
.comment-con::-webkit-scrollbar-track,
.detail-post-info::-webkit-scrollbar-track {
  background-color: gainsboro;
}
