.loginAndRegister-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 4;

    .forNotUsers-modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 450px;
        max-width: 90%; /* 화면 크기에 맞춰 가로 제한 */
        height: 600px;
        background-color: #ffffff;
        align-items: center;
        justify-content: start;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        overflow: visible; /* 텍스트 잘림 방지 */
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        // &:hover {
        //     transform: scale(1.02);
        //     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        // }
        #forNotUserHeadline {
            margin-top: 34px;
            font-family: 'Pretendard', sans-serif;
            font-size: 1.8rem;
            color: #333;
             margin-bottom: 20px;
        }

        h1 {
            margin-top: 34px;
            font-family: 'Pretendard', sans-serif;
            font-size: 1.8rem;
            margin-bottom: 20px;
            color: #333;
        }
        p {
            font-family: 'Pretendard', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            color: #333333;
            text-align: center; /* 텍스트 중앙 정렬 */
        }

        .divider {
            margin: 20px 0;
            width: 80%;
            height: 1px;
            background-color: #ddd;
        }

        .google, .kakao, .naver, .forNotUser-close-button {
            width: 100%;
            max-width: 300px;
            height: 56px;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 13px;
            margin-top: 13px;
        }

        .google {
            background-color: #ffffff;
            border: 1px solid #4285f4;
            color: #4285f4;
            margin-top: 0;
            transition: background-color 0.3s ease, color 0.3s ease;
          
            .text-stretch {
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 700;
              font-size: 1.6rem;
              letter-spacing: -0.04rem;
              display: inline-block;
              transition: transform 0.3s ease;
            }
          
            &:hover {
              background-color: #f1f1f1;
              color: #3367d6;
            }
          
            &:hover .text-stretch {
              animation: shake-google 0.5s ease-in-out 1;
            }
          }
          
          .kakao {
            border: 2px solid #3A1D1D;
            background-color: #fee500;
            color: #3A1D1D;
            text-align: center;
            transition: background-color 0.3s ease, color 0.3s ease;
          
            .text-stretch {
              font-family: 'Nunito Sans', sans-serif;
              font-size: 1.5rem;
              font-weight: 700;
              letter-spacing: 0.05px;
              display: inline-block;
            }
          
            &:hover {
              background-color: #3A1D1D;
              color: #fee500;
              border: 3px solid #fee500;
            }
          
            &:hover .text-stretch {
              animation: shake-kakao 0.5s ease-in-out 1;
            }
          }
          
          /* 구글 애니메이션 */
          @keyframes shake-google {
            0% {
              transform: translateY(1px) scale(1.05);
            }
            25% {
              transform: translateY(-1px) scale(1.05);
            }
            50% {
              transform: translateY(1px) scale(1.05);
            }
            75% {
              transform: translateY(-1px) scale(1.05);
            }
            100% {
              transform: translateY(0) scale(1.05);
            }
          }
          
          /* 카카오 애니메이션 */
          @keyframes shake-kakao {
            0% {
              transform: translateX(1px) scale(1.05);
            }
            25% {
              transform: translateX(-1px) scale(1.05);
            }
            50% {
              transform: translateX(1px) scale(1.05);
            }
            75% {
              transform: translateX(-1px) scale(1.05);
            }
            100% {
              transform: translateX(0) scale(1.05);
            }
          }
          
          

          .naver {
            border: 2px solid #03C75A;
            background-color: white;
            font-family: 'NanumBarunGothicBold';
            font-weight: 900;
            color: #03C75A;
            font-size: 1.5rem;
            padding-top: 10px;
            transition: all 0.3s ease;
            
            .text-stretch {
                display: inline-block;
                color: #03C75A; /* 기본 텍스트 색상 */
                position: relative; /* 애니메이션 오버레이를 위해 position 설정 */
                overflow: hidden; /* 텍스트 영역을 넘지 않도록 설정 */
            }
        
            /* hover 시 텍스트에만 애니메이션 적용 */
            &:hover .text-stretch::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%; /* 애니메이션 시작 위치 */
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
                animation: shine 1s linear 1; /* 1초 동안 애니메이션 실행 */
            }
          }
        
              /* 키프레임 정의 */
              @keyframes shine {
                  0% {
                      left: -100%;
                  }
                  100% {
                      left: 100%;
                  }
              }
        }

        .registerAndLogin {
            width: 100%;
            position: absolute;
            bottom: 0; /* 부모 요소의 맨 아래에 배치 */
            left: 75%;
            transform: translateX(-50%); /* 수평 가운데 정렬 */
            display: flex;
            align-items: center;
            font-size: 0.95rem;
            color: #666;
            margin-bottom: 80px;

            .registerAndLoginLink {
                color: #1e90ff;
                text-decoration: underline;
                cursor: pointer;
                margin-left: 5px;
                font-weight: 600;
                
                &:hover {
                    color: #1058a8;
                }
            }
        }
        .forNotUser-close-button {
            font-family: 'NanumBarunGothic';
            font-size: 1rem;
            letter-spacing: 1.5px;
            color: #888;
            background: none;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            transition: color 0.3s ease;
            margin-bottom: 0;
            &:hover {
                color: #333;
            }
        }
        .brand-name {
            font-weight: 700;
            position: absolute;
            bottom: 0; /* 부모 요소의 맨 아래에 배치 */
            left: 50%;
            transform: translateX(-50%); /* 수평 가운데 정렬 */
            font-size: 1.5rem; /* 원하는 글씨 크기 설정 */
            text-align: center;
            margin-bottom: 20px;
        }
    }

