.main-section {
  width: 1200px;
}
.main-con {
  width: 1200px;
}
.main-con * {
  cursor: pointer;
}
.main-feed {
  width: 220px;
  height: 300px;
}

.menu-button {
  cursor: pointer;
}
.main-text {
  text-align: center;
  width: 80%;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-title-text > a {
  color: gray;
}
.main-title-text > a:hover {
  color: black;
}
