.p-feed {
  width: 200px;
  height: 350px;
}
.n-feed {
  width: 200px;
  height: 350px;
}
.mf-feed {
  width: 200px;
  height: 350px;
}
.pf-con {
  margin-top: 50px;
  margin-left: 170px;
  width: 1100px;
}
.nf-con {
  margin-top: 50px;
  margin-left: 170px;
  width: 1100px;
}
.mff-con {
  margin-top: 50px;
  margin-left: 170px;
  width: 1100px;
}

h2 {
  margin-left: 170px !important;
}
.menu-container {
  margin-left: 450px;
}
.menu-button {
  cursor: pointer;
}
.mf-text {
  text-align: center;
  width: 180px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.nf-text {
  text-align: center;
  width: 180px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.pf-text {
  text-align: center;
  width: 180px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
