.main-section {
  width: 1100px;
}
.main-con {
  width: 1100px;
}
.main-con * {
  cursor: pointer;
}
.main-feed {
  width: 200px;
  height: 350px;
}

.menu-button {
  cursor: pointer;
}
.main-text {
  text-align: center;
  width: 180px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
