.card {
  border: none !important;
  width: 1800px;
}
.fullContainer {
  margin-bottom: 20px;
}
.reportContainer {
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 90px;
  padding-bottom: 16px !important;
  height: 135px;
}
.reportName {
  font-size: 30px !important;
  margin-left: 10px !important;
  width: 200px;
}
.reportInfo {
  position: relative;
  left: 250px;
  bottom: 33px;
  font-size: 24px;
}
.buttonContainer {
  bottom: 5px;
  width: 200px;
  margin-left: 1350px;
}
.delete-report-post-btn {
  width: 90px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.ban-report-user-btn {
  width: 90px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.cancel-report-post-btn {
  width: 90px;
  background-color: gray;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}
